.automation-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.automation-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.automation-form {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.automation-content {
    display: flex;
    flex-direction: column;
}

.automation-add-label {
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}